<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('partials/head') %>
  </head>
  <body>
    <header><%- include ('partials/headerIndex') %></header>
    <main>
      <section>
        <h2>Interior</h2>
        <p>Here are some interior works from the database:</p>

        <!-- Add a section for the grid -->
        <div class="grid-container">
          <% posts.forEach(post => { %>
          <div class="grid-item">
            <img
              src="<%= post.imageUrl %>"
              alt="<%= post.title %>"
              class="image-thumbnail"
              data-title="<%= post.title %>"
              data-description="<%= post.body %>"
            />
          </div>
          <% }) %>
        </div>

        <!-- Modal (popup) to display title and description -->
        <div id="imageModal" class="modal">
          <div class="modal-content">
            <span class="close-btn">&times;</span>
            <h2 id="modalTitle"></h2>
            <p id="modalDescription"></p>
          </div>
        </div>
      </section>
    </main>
    <footer><%- include ('partials/footer') %></footer>
    <script src="/scripts/postsGrid.js"></script>
  </body>
</html>
